{% extends 'base.html.twig' %}
{% block title %}
    {{user.name}}
{% endblock %}
{% block header_title %}
   {{user.name}} 
{% endblock %}
{% block body %}
    <div id="content">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}
    ) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.email) }}

        <div class="form-flex">
            {{ form_row(form.date) }}
            {{ form_row(form.status) }}
        </div>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
